*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: poppins;
}
.box{
    display: flex;
    justify-content: center;
    margin: 20px;


}
.box1{
    width: 40%;
}
.box1 img{
    width: 100%;
    height: 460px;
}
.box2{
    width: 60%;
    display: flex;
    flex-wrap: wrap;
}
.box2 ol {
    width:100%;
    display: flex;
    flex-wrap: wrap;
    list-style-position: inside;
    overflow: hidden;

  

}
.box2 ol li{
    display: flex;
    align-items: center;
    margin:10px 10px;
    width: 46%;
    height: 80px;
    background-color: rgb(236, 233, 233);
    transition: all 1s;
    transition-duration: 0.4s;
    
    
}
.box ol li:hover{
    background-color: rgb(222, 218, 218);
    transform: scale(1.03);
}
.box ol li:before{
    content:"";
    width: 80px;
    left:0px;
    top:0px;
    height:80px ;
    background-color: rgb(201, 198, 198);
    color: rgb(83, 79, 79);
    font-size: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.box ol li:first-of-type:before{
    content: "a)";
}
.box ol li:nth-of-type(2):before{
    content: "b)";
}
.box ol li:nth-of-type(3):before{
    content: "c)";
}
.box ol li:nth-of-type(4):before{
    content: "d)";
}

.box ol li:nth-of-type(5):before{
    content: "e)";
}
.box ol li:nth-of-type(6):before{
    content: "f)";
}
.box ol li:nth-of-type(7):before{
    content: "g)";
}
.box ol li:nth-of-type(8):before{
    content: "h)";
}
.box ol li:nth-of-type(9):before{
    content: "i)";
}
.box ol li:nth-of-type(10):before{
    content: "j)";
}.box ol li:nth-of-type(11):before{
    content: "k)";
}
.box ol li:last-of-type:before{
    content: "l)";
}
.box2 ol li a{
    text-decoration: none;
    color: black;
    font-size: 20px;
    padding-left: 40px;
}
.total{
    margin:60px 0px;
    
}
.one,.two{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
}
.tag{
    display: flex;
    align-items: center;
    justify-content: center;
    


}
.tag1{
    border-top: 2px solid rgb(116, 251, 116);
}
.tag2{
    border-top: 2px solid rgb(255, 145, 145);
}

.type2,.type3,.type4{
    background-color: rgb(250, 224, 224);

}
.type1{
    background-color: rgb(220, 249, 220);
}

.tag1 img,.tag2 img{
    width: 120px;
    height: 90px;
    padding-bottom: 20px;
    

}
h2{
    font-weight: 200;
}
h3{
    font-weight: 100;
}
.tag2,.tag1{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 47%;
    border-radius: 10px;
    margin: 10px;
    padding-top: 5px;
    position: relative;
    margin-bottom: 50px;
}
.tag2::before,.tag1::before{
    content: "";
    position: absolute;
    top: -50px;
    width: 100%;
    height: 50px;
    color: black;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.tag1:before{
    content: "right 1";
}
.tag2::before{
    content: "wrong 3 ";
}
.type1,.type2,.type3,.type4{
    width: 219px;
    height: 200px;
    display: flex;
    margin-left: 3px;
    margin-right: 3px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 5px;
}
@media all and (max-width:1120px){
    .type1,.type2,.type3,.type4{
        width: 150px;
        height: 140px;
    }
    .tag1 img,.tag2 img{
        width:90px ;
        height: 70px;
    }
    
}
@media all and (max-width:1000px){
    .tag{
        flex-wrap: wrap;
    }
    .tag1,.tag2{
        width: 60%;
    
    }
    .box{
        flex-wrap: wrap;
    
    }
    .box1{
        width: 50%;
        height: 400px;
    }
    .box1 img{
    height: 400px;
    }
    .box2{
        width:80%;
    }
}
@media all and (max-width:770px){
    .tag1,.tag2{
        width: 100%;
    
    }
    .box1{
        width: 90%;
        
    }
    .box2{
        width:100%;
    }

}
@media all and (max-width:600px){
    .box2 ol li{
        width: 100%;
        margin: 10px auto;
    }  
}
@media all and (max-width:470px){
    .tag2{
        flex-wrap: wrap;
    }
    .type2,.type3,.type4{
        margin-bottom:6px;
    }
    .box1{
        height: 200px;
    }
    .box1 img{
        height: 200px;
        }
}